@media (min-width: 992px) {
  #nav {
    display: flex;
    justify-content: center;
  }

  #nav-img {
    width: 15%;
  }

  #avatar {
    width: 100px;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
  }

  /* Projcet */
  #main {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  #goal {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #scope {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #team {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #primary {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  #timeline {
    grid-column: 3/4;
    grid-row: 1/-1;
  }

  .icon {
    width: 3.5rem;
  }
}
