@media (max-width: 768px) {
  #nav {
    display: flex;
    flex-direction: column;
  }

  .certificate:nth-child(even) > div::after {
    display: none;
  }

  .certificate > div::before {
    content: "";
    background-color: #d6c08d;
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100%) !important;
    height: 1px;
  }

  .certificate:last-child > div::before {
    display: none;
  }
}
