.icon {
  width: 3.5rem;
  margin: auto;
}

p {
  margin-bottom: 0;
}

.timeline-icon {
  background-color: #e599f7;
  width: 3rem;
  height: 3rem;

  border: 1px solid;
  border-radius: 50%;
  position: relative;
}

.icon-number {
  font-weight: 600;
  color: #fff;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.div-icon {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.125);
}
