h6 {
  margin-bottom: 0;
}

.bg-img {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.8)
    ),
    url(/images/1.jpg);
  background-size: cover;
  height: 40vh;
}

.bg-light-1 {
  background-color: #f1f3f5;
}

.bg-text-1 {
  padding: 2px 10px;
  background-color: #199cdb;
  border-radius: 12px;
  color: #fff;
  text-align: center;
}

#navbar i {
  color: #4dabf7;
  padding: 0.5rem;
}

#info ul {
  list-style: none;
}

#info i {
  color: #4dabf7;
}

#interest i {
  color: #4dabf7;
}

.skill-span-1 {
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

.skill-span-2 {
  background: #199cdb;
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  width: 45px;
}

.certificate:nth-child(even) > div::after {
  content: "";
  background-color: #d6c08d;
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
}

.certificate:nth-child(even) > div::before {
  content: "";
  background-color: #d6c08d;
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(200%);
  height: 1px;
}

.project-card p {
  margin-bottom: 0;
}

#footer i {
  color: #4dabf7;
}

#footer p {
  margin-bottom: 0;
}
